<div id="chatbot-root">
Test Icon
</div>

<script>
  window.SHOPIFY_CHATBOT_CONFIG = {
    shop: "{{ request.host }}"
  };

  (function () {
    var script = document.createElement('script');
    script.src = "https://shopify-app-95ky.onrender.com/widget?v=6";
    script.async = true;
    document.body.appendChild(script);
  })();
</script>

{% schema %}
  {
    "name": "App Embed",
    "target": "body",
    "settings": []
  }
{% endschema %}