<div id="chatbot-root"></div>

<script>
  (function () {
    var script = document.createElement('script');
    script.src = "https://shopify-app-95ky.onrender.com/widget.js";
    script.async = true;
    document.body.appendChild(script);
  })();
</script>

{% schema %}
{
  "name": "Chatbot",
  "target": "body",
  "settings": []
}
{% endschema %}